.wrapper {
    margin-top: 20px;
    padding: 0 10px 30px 10px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 575px) {
    .wrapper {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.wrapper h3 {
    font-size: var(--font-300) !important;
}

.loading__div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
}