.section {
    margin-bottom: var(--section-margin);
}

.title>div,
.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.noItems {
    font-size: var(--font-700);
    text-align: center;
    text-transform: capitalize;
}

.emptyCart {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    padding: 0 10px;
    height: 45px;
    border-radius: 4px;
    text-transform: capitalize;
    border: none;
    text-align: center;
    background-color: var(--yellow-main);
    color: var(--font-main);
    font-size: var(--font-300);
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #F2F4FA;
    color: #9093A6;
}

.order__sent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 10px 2px var(--shadow-color);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.order__sent p {
    font-size: var(--font-400);
    text-align: center;
}