.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    box-shadow: 0 0 10px 2px var(--shadow-color);
    padding: 20px;
    border-radius: 8px;
}

.delivery__icon,
.order__type,
.order__info,
.order__payment {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.delivery__icon {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.delivery__icon p {
    font-size: var(--font-400);
}

.form label {
    text-transform: capitalize;
    font-size: var(--font-400);
}

.form h3 {
    text-transform: capitalize;
    font-size: var(--font-600);
}

.form select,
.form textarea,
.form input {
    border: 1px solid var(--gray-dark);
    border-radius: 4px;
    padding-left: 10px;
    height: 30px;
    outline: none;
}

.form input::placeholder {
    font-style: italic;
    font-size: var(--font-300);
    opacity: 0.5;
}

.form textarea:focus,
.form input:focus {
    border-color: var(--yellow-main);
}

.form textarea {
    height: auto;
    padding: 10px;
}

.form__radio {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;

}

.form__radio label {
    cursor: pointer;
}

.total {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.total>p {
    font-size: var(--font-600);
}

.btn {
    padding: 0 10px;
    height: 45px;
    border-radius: 4px;
    text-transform: capitalize;
    border: none;
    text-align: center;
    background-color: var(--yellow-main);
    color: var(--font-main);
    user-select: none;
    transition: 0.3s;
}

.btnVaild {
    cursor: pointer;
}

.btnVaild:hover {
    background-color: var(--yellow-light);
    color: var(--font-btn-yellow);
}

.disabledBtn {
    opacity: 0.5;
}

.error_message {
    font-size: var(--font-200);
    color: tomato;
}

.invalidInput {
    border-color: tomato !important;
}