.MenuFilter__categories {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.MenuFilter__categories::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background-image: linear-gradient(to left, #fff, transparent);
    z-index: 1;
}

.MenuFilter__categories .swiper-slide > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 20px;
    background-color: var(--gray-light);
    color: var(--font-main);
    font-size: var(--font-400);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: capitalize;
    user-select: none;
}

.MenuFilter__categories .swiper-slide  > span:hover {
    background-color: var(--yellow-main);
}