/* start hero */
.section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    min-height: calc(100vh - 115px);
    align-items: flex-start;
    position: relative;
}

.background {
    background-image: url(../../assets/bgImg.webp);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 767px) {
    .background {
        top: 180px;
    }
}

.text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    align-self: flex-start;
    gap: 20px;
    margin-top: 50px;
}

.text > h1 {
    font-size: var(--font-xl);
    font-weight: 300;
}

.btn {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.btn  button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 70px;
    border: 2px solid var(--yellow-main);
    color: var(--font-main);
    font-family: var(--font-family);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.btn  button:hover {
    background-color: var(--yellow-main);
    transform: translateY(-3px);
}

.btn  button > p:first-of-type {
    font-weight: bold;
    line-height: 20px;
}

.btn  button > p:last-of-type {
    font-size: 12px;
    line-height: 16px;
}

.info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: fit-content;
    max-width: 90%;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 8px 40px 0px var(--shadow-color);
}

.info > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    flex: 1 1 auto;
}

.info > div > p {
    font-weight: 300;
    font-size: var(--font-300);
    white-space: nowrap;
}

.info > div > img {
    width: 48px;
    height: 48px;
}
/* end hero */