

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/bg-specialities-info.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    min-height: 284px;
    padding: 20px;
    margin-bottom: var(--section-margin);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
    min-width: 150px;
}

.card > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--yellow-dark);
    margin-bottom: 20px;
    position: relative;
}

.card > div::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: var(--yellow-main);
    z-index: -1;
    top: 20%;
    transition: 0.3s;
}

.card > div:hover::after {
    top: 0;
}

.card > p {
    font-size: var(--font-400);
    font-weight: bold;
    white-space: nowrap;
}