/* start restaurants */
.section {
    margin-bottom: var(--section-margin);
}

.card {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 4px;
    box-shadow: 0px 2px 16px var(--shadow-color);
    outline: 3px solid transparent;
    background-color: white;
    aspect-ratio: 5 / 5;
    min-width: 200px;
    overflow: hidden;
    transition: 0.3s;
}

.card__mobile {
    filter: drop-shadow(2px 4px 6px #00000026);
    overflow: hidden;
    border-radius: 8px;
}

.card:hover {
    outline-color: var(--yellow-main);
}

.list {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    overflow-x: auto;
    scrollbar-color: var(--gray-light) transparent;
    scrollbar-width: thin;
}

.list::-webkit-scrollbar {
    height: 5px;
}

.list::-webkit-scrollbar-thumb {
    background-color: var(--gray-light);
    border-radius: 4px;
}

.list::-webkit-scrollbar-track {
    background-color: transparent;
}


@media (min-width: 576px) {
    .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        overflow-x: unset;
    }
}

/* end restaurants */