.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.socialMedia {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.socialMedia a {
    cursor: pointer;
    user-select: none;
}

.socialMedia a:hover {
    opacity: 0.5;
}

.socialMedia img {
    width: 24px;
}

.copyRight {
    font-size: var(--font-300);
    font-weight: 300;
}