.Order {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.addToBtn {
    width: 120px;
    height: 45px;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: var(--yellow-main);
    color: var(--font-main);
    font-size: var(--font-300);
    font-family: var(--font-family);
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}

.addToBtn:hover {
    background-color: var(--yellow-light);
    color: var(--font-btn-yellow);
}

.controlOrder {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 100%;
}

.controlOrder input {
    width: 100%;
    height: 100%;
    border: 1px solid #f2f2f2;
    text-align: center;

}

.controlOrder input:focus {
    outline-color: var(--yellow-main);
}

.controlOrder button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--yellow-main);
    font-size: var(--font-300);
    width: 50px;
    height: 100%;
    cursor: pointer;
    color: var(--gray-main);
}

.controlOrder button:first-of-type {
    border-radius: 4px 0 0 4px;
}

.controlOrder button:last-of-type {
    border-radius: 0 4px 4px 0;
}

.controlOrder button:active {
    transform: scale(0.98);
}