.card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header {
    display: flex;
    gap: 10px;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}

.header>h3 {
    font-size: var(--font-300);
    text-transform: capitalize;
}

.header img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.price {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.price>p {
    font-size: var(--font-200);
    color: gray;
    text-transform: capitalize;
}