/* import fonts  */

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* start global */
:root {
    --font-main: #3F4255;

    --font-btn-gray: #3F4255;
    --font-btn-yellow: #b79c11;

    --yellow-main: #FFE145;
    --yellow-light: #FFF7CC;
    --yellow-dark: #b79c11;

    --gray-main: #3f4255;
    --gray-light: #f3f4fb;
    --gray-dark: #d4d7e6;

    --shadow-color: #00000014;
    --section-margin: 50px;

    --font-family: 'Poppins', sans-serif;
    --font-200: 0.6rem;
    --font-300: 0.875rem;
    --font-400: 1rem;
    --font-600: 1.25rem;
    --font-700: 2rem;
    --font-xl: 3rem;
}

@media (max-width: 575px) {
    :root {
        --font-200: 0.5rem;
        --font-300: 0.75rem;
        --font-400: 0.9rem;
        --font-600: 1rem;
        --font-700: 1.5rem;
        --font-xl: 2rem;
    }
}

*,
*::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    -webkit-tap-highlight-color: transparent;
}

br {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--font-main);
    letter-spacing: 0.05em;
    line-height: 1.5;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.active {
    background-color: var(--yellow-main) !important;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* end global */

/* start global components */
.btnPrimary {
    padding: 0 10px;
    height: 45px;
    border-radius: 4px;
    text-transform: capitalize;
    border: none;
    text-align: center;
    background-color: var(--yellow-main);
    color: var(--font-main);
    font-size: var(--font-300);
    user-select: none;
    cursor: pointer;
}

.btnPrimary:hover {
    background-color: #F2F4FA;
    color: #9093A6;
}

/* end global components */

/* start swiper settings */
.swiper {
    overflow: visible;
    cursor: move;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--yellow-main);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 100;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
}

/* end swiper settings */

/* start animation */
.fadeIn-animation {
    animation: fadeIn 2s 1 forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* end animation */